name: islam_app
publish_to: 'none' 

version: 2.0.0+202509032339

environment:
  sdk: '>=3.9.2 <4.0.0'
  flutter: '>=3.35.3'

dependencies:
  flutter:
    sdk: flutter
  
  flutter_localizations:
    sdk: flutter

  azkar: any
  api_client: any
  preferences: any
  logger_manager: any
  islam_mob_adhan: any
  network_logging: any
  location_manager: any
  firebase_manager: any
  advertisments_manager: any
  internet_connection_checkup: any


  http: 1.5.0
  dio: 5.8.0+1 #//TODO:
  async: ^2.11.0
  get_it: 8.0.3
  loading_indicator: ^3.1.1
  intl: 0.20.2
  freezed_annotation: ^3.1.0
  flutter_bloc: 9.1.1
  permission_handler: 12.0.0+1
  shimmer: ^3.0.0
  country_flags: 3.3.0
  pdfx: 2.9.2
  image_picker: ^1.1.2
  screen_brightness: 2.1.4
  cached_network_image: ^3.4.1
  flutter_downloader: ^1.11.8
  path_provider: ^2.1.4
  device_info_plus: 11.5.0
  cupertino_icons: ^1.0.8
  fluttertoast: ^8.2.8
  ionicons: ^0.2.1
  url_launcher: ^6.2.1
  rate_my_app: ^2.0.0
  package_info_plus: ^8.1.0
  webviewx_plus: ^0.5.0
  lottie: ^3.1.3
  hijri: ^3.0.0 
  card_swiper: ^3.0.1
  share_plus: ^10.1.2 
  flutter_local_notifications: ^19.3.0
  timezone: ^0.10.0
  fpdart: ^1.1.1
  flutter_svg: 2.2.0
  open_store: ^0.5.0
  google_fonts: ^6.2.1
  wakelock_plus: 1.3.2
  flutter_contacts: ^1.1.9+2
  audioplayers: ^6.4.0
  flutter_inappwebview: ^6.1.5
  flutter_email_sender: ^7.0.0
  # home_widget: ^0.8.0
  # flutter_animate: ^4.5.0 
  # infinite_scroll_pagination: ^4.1.0 
  # just_audio: ^0.9.28
  # flutter_spinkit: ^5.2.1
  # flutter_compass: ^0.8.1
  # sensors_plus: ^6.1.0 

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.25.7
  # hive_generator: ^2.0.1 #TODO
  build_runner: 2.7.1
  islam_mob_lint: any
  json_serializable: ^6.11.1
  mocktail: 1.0.4
  melos: 7.1.1
  mockito: ^5.4.4
  dependency_validator: 5.0.2
  flutter_gen_runner: 5.12.0
  freezed: 3.2.3
  bdd_steps: any
  islam_test: any

# List all workspace members (relative paths)
workspace:
  - utilities/azkar
  - utilities/logger_manager
  - utilities/islam_mob_adhan
  - utilities/location_manager
  - utilities/firebase_manager
  - utilities/advertisments_manager
  - utilities/internet_connection_checkup
  - utilities/bdd_steps
  - utilities/islam_test
  - utilities/islam_mob_lint
  - utilities/api_client
  - utilities/network_logging
  - utilities/preferences


melos:
  # Optional: treat the root as a package too (so it shows in melos list)
  useRootAsPackage: true

flutter:
  generate: true
  uses-material-design: true
  assets:
  - assets/images/
  - assets/images/logoz/
  - assets/images/sorah_type/
  - assets/images/days/
  - assets/images/toolbar/
  - assets/images/qibla/
  - assets/images/omrah/
  - assets/images/hajj/
  - assets/images/bottom_bar/
  - assets/lottie/
  - assets/json/
  - assets/json/hajj_omrah/
  - assets/audios/

scripts:
  upgrade:
    run: melos exec -c 1 -- flutter pub upgrade
    description: Upgrade all dependencies.

  analyze_changes:
    run: |
      melos analyze --fatal-infos --diff=origin/main...HEAD --include-dependents
    description: Run `flutter analyze` on changed packages.
  
  # update_goldens:
  #   run: melos exec --dir-exists="test/goldens" -c 1 -- APP_LOCALE=en APP_THEME=light flutter test --update-goldens --tags golden
  #   description: Re-generate all golden test files

  # update_goldens_dark:
  #   run: melos exec --dir-exists="test/goldens" -c 1 -- APP_LOCALE=ar APP_THEME=dark flutter test --update-goldens --tags golden
  #   description: Re-generate all golden test files for duplo package
  #   packageFilters:
  #     scope:
  #       - duplo
  #       - login
  #       - onboarding
  #       - hub
  #       - payment

  # update_goldens_changes:
  #   run: |
  #     melos exec --dir-exists="test/goldens" -c 1 --diff=origin/main...HEAD -- "flutter test --no-optimization --update-goldens"
  #   description: Update goldens for changed packages.
  
  # update_goldens_changes_dark:
  #   run: |
  #     melos exec --dir-exists="test/goldens" -c 1 --diff=origin/main...HEAD -- "flutter test --no-optimization --update-goldens"
  #   packageFilters:
  #     dirExists:
  #       - duplo
  #       - login
  #       - onboarding
  #       - hub
  #       - payments
  #   description: Update goldens for changed packages.

  fix_check:
    run: melos exec -- "dart fix --dry-run"
    description: Run `dart fix` checks on all packages.

  test:
    run: |
      melos exec -c 1 --fail-fast -- "flutter test --no-pub"
    packageFilters:
      dirExists: 
        - test
    description: Run `flutter test` checks on all packages.

  # test_changes:
  #   run: |
  #     melos exec -c 1 --fail-fast --diff=origin/main...HEAD --include-dependents -- "very_good test"
  #   description: Run tests on changed packages.

  format_check_changes:
    run: melos exec --diff=origin/main...HEAD -- "bash $MELOS_ROOT_PATH/scripts/format.sh --set-exit-if-changed"
    description: Run `dart format` checks on changed packages.

  format_check:
    run: melos exec -- "bash $MELOS_ROOT_PATH/scripts/format.sh --set-exit-if-changed"
    description: Run `dart format` checks on all packages.

  format:
    run: melos exec -- "bash $MELOS_ROOT_PATH/scripts/format.sh"
    description: Runs `dart format` on all packages.

  dependency_validator:
    run: melos exec -c 1 -- "dart run dependency_validator"
    description: Run `dart run dependency_validator` checks on all packages.

  dependency_validator_changes:
    run: melos exec -c 1 --diff=origin/main...HEAD --include-dependents -- "dart run dependency_validator"
    description: Run `dart run dependency_validator` checks on changed packages.

  gen_l10n:
    run: dart pub global run melos run combine_arb_files && dart pub global run melos run gen_lok_l10n
    description: Combine and generate localization files.

  combine_arb_files:
    run : dart pub global run melos exec --scope="equiti_localization" -- "dart lib/src/combine_arb_files.dart"
    description: Combine all .arb files.

  gen_lok_l10n:
    run: dart pub global run melos exec --scope="equiti_localization" -- "dart run lokalise_flutter_sdk:gen-lok-l10n"
    description: Generate localization files using lokalise_flutter_sdk.

  gen_l10n_watch:
    run: melos run combine_arb_files_watch
    description: Combine and generate localization files.

  combine_arb_files_watch:
    run : melos exec --scope="equiti_localization" -- "dart lib/src/combine_arb_files.dart --watch"
    description: Combine and watch for all .arb files.

  autogen:
    run: melos exec -c 1 -- "dart run build_runner build --delete-conflicting-outputs"
    packageFilters:
      dependsOn: 
        - "build_runner"
    description: Run `dart run build_runner build --delete-conflicting-outputs`

  autogen_watch:
    run: melos exec -c 1 -- "dart run build_runner watch --delete-conflicting-outputs"
    packageFilters:
      dependsOn: 
        - "build_runner"
    description: Run `dart run build_runner watch --delete-conflicting-outputs`

  autogen_changes:
    run: melos exec -c 1 -- "dart run build_runner build --delete-conflicting-outputs"
    packageFilters:
      dependsOn: 
        - "build_runner"
      diff: origin/main...HEAD
    description: Run `dart run build_runner build --delete-conflicting-outputs`

  fonts:
    - family: Uthman
      fonts:
        - asset: assets/fonts/Uthman-Taha-Naskh-Regular.otf
        - asset: assets/fonts/Uthman-Taha-Naskh-Bold.otf
          weight: 700
    - family: Jameel
      fonts:
        - asset: assets/fonts/jameel.ttf

flutter_gen:
  output: lib/assets/
  assets:
    exclude:
      - resources/mocks/**/*
    outputs:
      package_parameter_enabled: true
  integrations:
    flutter_svg: true