<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572946835267-gi3ajhbc5vt47de06bni9uug3j3s9ggo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572946835267-gi3ajhbc5vt47de06bni9uug3j3s9ggo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>572946835267-ofccqqcuuv86vdoj3u6akl7dm3scpvp5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbfDNg1iV1iLDPAYhW4AYcBI6XN41N3vE</string>
	<key>GCM_SENDER_ID</key>
	<string>572946835267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.islammob.app</string>
	<key>PROJECT_ID</key>
	<string>islamapp-a8fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>islamapp-a8fd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572946835267:ios:c1e4100a7b3698697a71f6</string>
</dict>
</plist>