<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<string>task-identifier</string>
		<string>com.islammob.app.prayerRefresh</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Islam Mob</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>CFBundleName</key>
	<string>islam_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FDAllFilesDownloadedMessage</key>
	<string>All files have been downloaded</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-0120000896649737~2532070312</string>
	<key>GIDClientID</key>
	<string>572946835267-gi3ajhbc5vt47de06bni9uug3j3s9ggo.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <!-- Paste the value of REVERSED_CLIENT_ID from GoogleService-Info.plist -->
			<string>com.googleusercontent.apps.572946835267-gi3ajhbc5vt47de06bni9uug3j3s9ggo</string>
        </array>
      </dict>
    </array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Please allow access to camera in order to register your profile pictures</string>
	<key>NSContactsUsageDescription</key>
	<string>We need to access your contact list to allow you invite your friends</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We Need This Permission to hear your voice when you talk to the client</string>
	<key>NSMotionUsageDescription</key>
	<string>IslamMob uses your device's motion data to accurately detect orientation and assist with Qibla direction features.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow access to gallery in order to register your profile pictures</string>
	<key>NSRemindersUsageDescription</key>
	<string>IslamMob uses Reminders so you can schedule prayer-time alerts and other important Islamic events, ensuring you never miss a prayer.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>IslamMob uses your location to calculate accurate prayer times, find the Qibla direction, and display local mosque information.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>IslamMob uses your location to calculate accurate prayer times, find the Qibla direction, and display local mosque information.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>IslamMob uses your location to calculate accurate prayer times, find the Qibla direction, and display local mosque information.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>IslamMob uses speech recognition to let you create voice notes and perform hands-free actions for a more convenient user experience.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
  		<string>sms</string>
		<string>com.googleusercontent.apps.572946835267-gi3ajhbc5vt47de06bni9uug3j3s9ggo</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
